# ignore all
*

# not this file
!.gitignore

# dot file folder
!.config

!.config/polybar
!.config/polybar/**

!.config/bspwm
!.config/bspwm/**

!.config/picom
!.config/picom/**

!.config/rofi
!.config/rofi/**

!.config/sxhkd
!.config/sxhkd/**

!.config/dunst
!.config/dunst/**

!Pictures
!Pictures/*

# ignore prod env
.config/polybar/scripts/env.sh
