# ignore all
*

# not this file
!.gitignore

#
!.config
!.config/polybar
!.config/polybar/*
!.config/bspwm
!.config/bspwm/*
!.config/picom
!.config/rofi
!.config/sxhkd

!Pictures
!Pictures/*

# ignore prod env
.config/.polybar/scripts/env.sh
